.waitingAndReservation {
    display: flex;
    gap: 1em;
}

.scroll {
    min-height: 300px;
    height: 90vh;
    /*height: calc(100vh - 상단 Header, Footer 길이);*/
    min-width: 15vw;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 1rem;
    box-sizing: border-box;
}