.volume-input {
    width: 80px;
    height: 36px;
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s
  }
  
  .volume-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.3);
  }
  .medicine-search-wrapper {
    position: relative;
    flex: 1;
    margin-bottom: 24px;
  }
  
  .medicine-search-input-group {
    display: flex;
    gap: 8px;
    align-items:center;
  }
  
  .medicine-search-input {
    padding: 8px 12px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    height: 38px;
  }
  .custom-btn{
    width: 50px;
    height: 38px;
    padding: 0 5px;
    font-size: 9px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .medicine-search-search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 400px;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 4px;
    margin-top: 4px;
  }
  
  .medicine-search-search-results li {
    padding: 6px 8px;
    cursor: pointer;
  }
  .medicine-search-search-results li:hover {
    background-color: #f0f0f0;
  }
  .section-box .scroll-area {
    overflow-y: auto;
    flex: 1;
    min-height: 0;
  }
  .medicine-search-selected-list {
  min-height: 190px;  
  max-height: 190px;    
  overflow-y: auto;            
  padding: 6px;            
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  }
  
  .medicine-search-selected-list li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .medicine-remove-btn {
    background: none;
    border: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
  }