.mainSide {
    border-left: 1px solid #ddd;
    width: 1200px;
}

.leftSide {
    flex-direction: row;        
    gap: 5px;                 
    align-items: flex-start;   
    margin-right: 5px;
    height: 85vh;
    min-width: 350px;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.rightSide {
    width: 15%; 
    background: #dce4ee;
    height: 85vh;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
}