.visit-detail {
    width: 100%;
    min-height: 80vh;
    overflow-y: auto;
    padding: 20px;
    background-color: #ffffff;
    max-width: 100vh;
    font-size: 14px;
    justify-content: flex-end;
    
    }
    
    .section-title {
    font-size: 18px;
    font-weight: bold;
    margin: 32px 0 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    }
    
    .treatment-info p,
    .prescription-item p {
    margin: 4px 0;
    }
    
    ul {
    list-style: none;
    padding-left: 0;
    }
    
    .prescription-item {
    margin-bottom: 12px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    }
    
    .attachment-item {
    margin-bottom: 16px;
    }
    
    .attachment-image {
    max-width: 200px;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    
    