.wr-parent-container {
  width: 250px;
  padding: 0;
  margin: 5px 0;
  overflow-x: hidden;
}

.waitingAndReservation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.tab-item {
    padding: 6px 12px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
}

.tab-item:hover {
    background-color: #e6f0ff;
}

.tab-item.active {
    color: #1976d2; /* 파란색 강조 */
    font-weight: bold;
    border-color: #e6f0ff;
}

.scroll {

     height:98vh;
    /*height: calc(100vh - 상단 Header, Footer 길이);*/
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;

}

.patient-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex: none;
  min-width: 0;
}

.patient-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #f0f0f0;
}

.patient-item:last-child {
  border-bottom: none;
}

.patient-info {
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
} 

 .patient-name {
  font-weight: 500;
  font-size: 1rem;
}

.patient-meta {
  color: #888;
  font-size: 0.95rem;
}
